@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-spec{
    width: 422.5px;
    height: 200px;
    border:none;
    overflow: hidden;
}
iframe#frame-spec::-webkit-scrollbar{
    display-model: none;
}